#app {
  max-width: 1000px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.users {
  display: flex;
  flex-direction: column;
}

.searchboxes {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.user-box {
  border: 1px solid #000000;
  padding: 20px;
}

.users-listitem {
  display: flex;
  justify-content: space-between;
}

.nameusername {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.singleuserbox {
  border: 1px solid rgba(0, 0, 0, 0.125);
  max-width: 20rem;
  padding: 30px;
}

.singleuserpostbox {
  border: 1px solid rgba(0, 0, 0, 0.125);
  max-width: 20rem;
  height: 20rem;
  padding: 30px;
}

.singleuserboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.singleuserbox ul li {
  list-style: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-name {
  display: flex;
}
