@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
}

#app {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.users {
  display: flex;
  flex-direction: column;
}

.searchboxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

input,
select {
  height: 40px;
}

.search-box {
  width: 225px;
  margin: 0 10px;
}

.select-box {
  display: flex;
  flex-direction: column;
  width: 225px;
  margin: 0 10px;
}

.user-box {
  border: 1px solid #000000;
  padding: 20px;
}

.user-box :hover {
  opacity: 90%;
}

.users-listitem {
  display: block;
}

.userboxlink {
  color: #000000;
}

.user-box::before {
  content: "";
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  float: left;
}

.nameusername {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.singleuserbox {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 20rem;
  padding: 30px;
}

.singleuserpostbox {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 20rem;
  height: 20rem;
  padding: 30px;
}

.singleuserboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.singleuserbox ul li {
  list-style: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-name {
  display: flex;
}

.icon {
  margin-right: 5px;
}

.catchphrase {
  font-style: italic;
}

@media only screen and (min-width: 650px) {
  .users-listitem {
    display: flex;
    justify-content: space-between;
  }
  .searchboxes {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
